:root{
    --default_text_color: #404040;
    --green_hover_color: rgb(0, 163, 0);
    --nav_menu_background_color: rgb(0, 81, 255);
    --text_decoration_for_links: none;
    --border_n_box_shadow: gainsboro;
}

body{
    display:none;
}

.site-title{
    margin-top: 0px;
    margin-bottom: 1rem;
    padding-top: 0px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.site-title>a{
    text-decoration: none;
    color: var(--default_text_color);
}
.site-description{
    margin-top: 0px;
    text-align: center;
}
.nav-menu{
    display: flex;
    justify-content: center;
    /*padding: 0.2rem 0px 0.2rem 0px;*/
}
.nav-menu>li:hover{
    background-color:rgb(0, 27, 102);
}
.nav-menu>li>a{
    margin-left: 2rem;
    margin-right: 2rem;
}
#masthead{
    grid-area: head;
}
#primary{
    grid-area: main;
}
#secondary{
    grid-area: side;
}
#colophon{
    grid-area: foot;
}
#right_blank{
    grid-area: rdiv;
}
#left-blank{
    grid-area: ldiv;
}
#right_blank{
    min-width: 10vw;
}
#left_blank{
    min-width: 10vw;
}
@media only screen and (max-width: 1300px) {
    #right_blank{
        min-width: 5vw;
    }
    #left_blank{
        min-width: 5vw;
    }
  }

  @media only screen and (max-width: 1000px) {
    #right_blank{
        min-width: 1vw;
    }
    #left_blank{
        min-width: 1vw;
    }
  }  
#page{
    display: grid;
    grid-template-areas: 'head head head head head head'
                         'rdiv main main main side ldiv'
                         'rdiv foot foot foot foot ldiv';
    grid-gap: 1rem;
}
@media (orientation:portrait){
    #right_blank{
        display: none;
    }
    #left_blank{
        display: none;
    }
    #page{
        width: 100vw;
        display: grid;
        grid-template-areas: 'head'
                             'main'
                             'side'
                             'foot';
        grid-gap: 1rem;
    }
}
#secondary{
    margin-top: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid var(--border_n_box_shadow);
}
#secondary{
    box-shadow: 0px 0px 10px var(--border_n_box_shadow);
}
#secondary .widget>ul{
    margin-left: 0px;
}
.search-form{
    width: 100%;
}
.search-field{
    width: 68%;
}
.search-submit{
    width: 28%;
}
#primary{/*
    min-width: 60vw;
    max-width: 70vw;*/
    padding: 1rem;
    box-sizing: border-box;
}
@media (orientation: portrait){
    #primary{
        min-width: 100%;
        max-width: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }
}
#colophon{
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid var(--border_n_box_shadow);
    box-shadow: 0px 0px 10px var(--border_n_box_shadow);
}
#colophon a{
    color: var(--default_text_color);
    text-decoration:none;
}
h2.widget-title{
    font-size: 1rem;
    margin-bottom: 0.1rem;
}
.widget>ul{
    padding-left: 2rem;
}
#commentform{
    width: 75%;
}
.comment-form-comment>textarea{
    width: 100%;
}
.comment-form-author>input{
    width: 100%;
}
.comment-form-email>input{
    width: 100%;
}
.comment-form-url>input{
    width: 100%;
}
@media (orientation:portrait){
    #commentform{
        width: 100%;
    }
}
.excerpt-title{
    font-size: 1.8rem;
    font-weight: normal;
    grid-area: xtitle;
}
.excerpt-thumb{
    min-width: 8rem;
    max-width: 12rem;
    min-height: 8rem;
    grid-area: ximg;
}
@media (orientation: portrait){
    .excerpt-thumb{
        max-width: 100%;
    }
}
.excerpt-excerpt{
    grid-area: xexcerpt;
}
.excerpt-date{
    grid-area: xdate;
}
.excerpt{
    display: grid;
    grid-template-areas: 'xtitle xtitle xtitle xtitle'
                         'xdate 1fr 1fr 1fr'
                         'ximg ximg xexcerpt xexcerpt'
                         'ximg ximg xexcerpt xexcerpt';
    grid-gap: 1rem;
    border: 1px solid var(--border_n_box_shadow);
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
}
@media(orientation:portrait){
    .excerpt{
        grid-template-areas: 'xtitle'
                             'xdate'
                             'ximg'
                             'xexcerpt';
    }
}
.excerpt{
    box-shadow: 0px 0px 10px var(--border_n_box_shadow);
}
#primary-menu{
    background-color: var(--nav_menu_background_color);
}
#primary-menu>ul>li>a{
    color: white;
}
@media(orientation:portrait){
    #primary-menu>ul>li>a{
        padding:0.2em 0px 0.2em 0px;
    }
}
@media(orientation:landscape){
    #primary-menu{
        min-height: 2em;
    }
    #primary-menu>ul>li>a{
        display: flex;
        align-items:center;
        min-height: 2em;
    }
}
.widget>h2{
    font-size: 1rem;
    color: var(--nav_menu_background_color);
    font-weight: normal;
}
.widget a{
    font-size: 1rem;
    font-weight: normal;
    color: var(--default_text_color);
    text-decoration:none;
}
.widget a:hover{
    color: var(--green_hover_color);
    text-decoration: var(--text_decoration_for_links);
}
.widget a:visited{
    font-size: 1rem;
    font-weight: normal;
    color: var(--default_text_color);
    text-decoration:none;
}
.widget a:visited:hover{
    color: var(--green_hover_color);
    text-decoration: var(--text_decoration_for_links);
}
.widget ul{
    padding-left: 0px;
}
li::marker{
    color: rgba(255, 255, 255, 0);
}
.widget{
    margin-bottom: 2rem;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    
    background:var(--nav_menu_background_color);
    color: white;
    line-height: 1;
    padding: 0.45em 0.1em 0.45em 0.1em;
}
.excerpt-link{
    text-decoration:none;
}
.excerpt-link:link{
    color:var(--default_text_color);
}
.excerpt-link:visited{
    color:var(--default_text_color);
}
.excerpt_read_more{
    color:var(--default_text_color);
}
@media(orientation:landscape){
    .custom-logo{
        position: absolute;
        width: 9rem;
        left:0.5rem;
        top:0.5rem;
    }
}
@media(orientation:portrait){
    .custom-logo{
        width:20%;
    }
    .custom-logo-link{
        display: flex;
        padding:1rem;
        align-items: center;
        justify-content: center;
    }
}
@media(orientation:landscape){
    .excerpt-thumb img{
    margin-top:1.2em;
    }
}
@media(orientation:portrait){
    #site-navigation button{
        border-radius:0px;
        border:none;
        padding:0.5em;
        width:100%;
    }
    .nav-menu a{
        text-align:center;
    }
    
}
#submit{
    padding: 0.45em;
}
.entry-header{
    margin-bottom:1em;
}
@media(orientation:landscape){
    .entry-header{
        margin-bottom:2em;
    }
}
.entry-meta a{
    color:var(--default_text_color);
    text-decoration:none;
}

.entry-meta a:hover{
    color:var(--green_hover_color);
    text-decoration:var(--text_decoration_for_links);
}

.entry-title a{
    color:var(--default_text_color);
    text-decoration:none;
}

@media(orientation:landscape){
    .single-post #primary{
        border: 1px solid var(--border_n_box_shadow);
        box-shadow: 0px 0px 10px var(--border_n_box_shadow);
        margin-top: 1em;
    }

    .page #primary{
        border: 1px solid var(--border_n_box_shadow);
        box-shadow: 0px 0px 10px var(--border_n_box_shadow);
        margin-top: 1em;
    }
    
}
.entry-title{
    text-align:center;
}
.entry-meta{
    text-align:center;
}
@media(orientation:landscape){
    .page #primary{
        padding: 1em 2em 2em 2em;
    }
}
.post-navigation a{
    text-decoration:none;
}
.cat-links a{
    text-decoration:none;
    color:var(--default_text_color);
}
.cat-links a:hover{
    color:var(--green_hover_color);
}
.post-edit-link{
    text-decoration:none;
    color:var(--default_text_color);
}
.post-edit-link:hover{
    color:var(--green_hover_color);
}
.comment-list{
    padding-left:0px;
    margin-left:0px;
}
.children{
    padding-left:0px;
    margin-left:0px;
}

.comments-area a{
    text-decoration:none;
    color:var(--default_text_color);
}
.comments-area a:hover{
    color:var(--green_hover_color);
}
.comment-content p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.comment-metadata{
    display: none;
}
.comment-body{
    margin-top:2em;
    margin-bottom:2em;
}
.comments-area .url{
    font-weight:500;
}
.comments-title{
    font-weight: 500;
}
