.site-title{
    margin-top: 0px;
    margin-bottom: 1rem;
    padding-top: 1rem;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.site-title>a{
    text-decoration: none;
    color: black;
}
.site-description{
    margin-top: 0px;
    text-align: center;
}
.nav-menu{
    display: flex;
    justify-content: center;
    padding: 0.2rem 0px 0.2rem 0px;
}
.nav-menu>li:hover{
    background-color:rgb(0, 27, 102);
}
.nav-menu>li>a{
    margin-left: 2rem;
    margin-right: 2rem;
}
#masthead{
    grid-area: head;
}
#primary{
    grid-area: main;
}
#secondary{
    grid-area: side;
}
#colophon{
    grid-area: foot;
}
#right_blank{
    grid-area: rdiv;
}
#left-blank{
    grid-area: ldiv;
}
#right_blank{
    min-width: 10vw;
}
#left_blank{
    min-width: 10vw;
}
@media only screen and (max-width: 1300px) {
    #right_blank{
        min-width: 5vw;
    }
    #left_blank{
        min-width: 5vw;
    }
  }

  @media only screen and (max-width: 1000px) {
    #right_blank{
        min-width: 1vw;
    }
    #left_blank{
        min-width: 1vw;
    }
  }  
#page{
    display: grid;
    grid-template-areas: 'head head head head head head'
                         'rdiv main main main side ldiv'
                         'rdiv foot foot foot foot ldiv';
    grid-gap: 1rem;
}
@media (orientation:portrait){
    #right_blank{
        display: none;
    }
    #left_blank{
        display: none;
    }
    #page{
        width: 100vw;
        display: grid;
        grid-template-areas: 'head'
                             'main'
                             'side'
                             'foot';
        grid-gap: 1rem;
    }
}
#secondary{
    margin-top: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    border: 0.1rem solid gainsboro;
}
#secondary:hover{
    box-shadow: 0px 0px 1rem gainsboro;
}
#secondary .widget>ul{
    margin-left: 0px;
}
.search-form{
    width: 100%;
}
.search-field{
    width: 68%;
}
.search-submit{
    width: 28%;
}
#primary{/*
    min-width: 60vw;
    max-width: 70vw;*/
    padding: 1rem;
    box-sizing: border-box;
}
@media (orientation: portrait){
    #primary{
        min-width: 100%;
        max-width: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }
}
#colophon{
    background-color: slategrey;
    padding: 1rem;
    color: white;
    box-sizing: border-box;
}
.site-info>a{
    color: white;
}
h2.widget-title{
    font-size: 1rem;
}
.widget>ul{
    padding-left: 2rem;
}
#commentform{
    width: 75%;
}
.comment-form-comment>textarea{
    width: 100%;
}
.comment-form-author>input{
    width: 100%;
}
.comment-form-email>input{
    width: 100%;
}
.comment-form-url>input{
    width: 100%;
}
@media (orientation:portrait){
    #commentform{
        width: 100%;
    }
}
.excerpt-title{
    font-size: 2rem;
    font-weight: bold;
    grid-area: xtitle;
}
.excerpt-thumb{
    min-width: 8rem;
    min-height: 8rem;
    grid-area: ximg;
}
.excerpt-excerpt{
    grid-area: xexcerpt;
}
.excerpt-date{
    grid-area: xdate;
}
.excerpt{
    display: grid;
    grid-template-areas: 'xtitle xtitle xtitle xtitle'
                         'xdate 1fr 1fr 1fr'
                         'ximg ximg xexcerpt xexcerpt'
                         'ximg ximg xexcerpt xexcerpt';
    grid-gap: 1rem;
    border: 0.1rem solid gainsboro;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
}
@media(orientation:portrait){
    .excerpt{
        grid-template-areas: 'xtitle'
                             'xdate'
                             'ximg'
                             'xexcerpt';
    }
}
.excerpt:hover{
    box-shadow: 0px 0px 1rem gainsboro;
}
#primary-menu{
    background-color: rgb(0, 81, 255);
}
#primary-menu>ul>li>a{
    color: white;
}
